.cart {
  padding: 1rem;

  &__heading {
    padding-bottom: 1rem;
  }

  &__main {
    padding: 1rem;
    border: 1px solid #d31334;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;

    @media (max-width: 767px) {
      flex-direction: column;
    }
    
    &__products {
      flex-grow: 1;
      border-right: 4px solid #d31334;

      @media (max-width: 767px) {
        border-right: none;
      }

      &__product {
        display: flex;
        flex-direction: row;

        &__image {
          flex-grow: 0;
        }

        &__name {
          flex-grow: 1;
          padding: 0 1rem;

          h3 {
            margin: 0;
            margin-bottom: 0.5rem;
          }

          p {
            margin: 0;
            margin-bottom: 0.5rem;
          }

          &__counter {

            &__decrement {
              border: 1px solid lightgray;
              border-radius: 50%;
              color: gray;
              height: 1.5rem;
              width: 1.5rem;
            }

            &__input {
              width: 100px;
              border-radius: 0.25rem;
              height: 1.5rem;
            }

            &__increment {
              border: 1px solid lightgray;
              border-radius: 50%;
              color: gray;
              height: 1.5rem;
              width: 1.5rem;
            }
          }
        }

        &__total {
          flex-grow: 0;
          padding-right: 1rem;
        }
      }
    }

    &__total_section {
      padding-left: 1rem;
      flex-basis: 20vw;
      color: #d31334;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: 767px) {
        flex-basis: 20vh;
        padding-left: 0rem;
      }

      &__total {
        display: flex;
        flex-direction: row;
        &__text {
          flex-grow: 1;
          font-weight: bold;
        }

        &__amount {
          font-weight: bold;
        }
      }
    }
  }

  &__loading {
    text-align: center;
  }

  &__error {
    color: red;
  }
}