.card {
    cursor: pointer;
    display: block !important;
    height: 100% !important;
    max-width: 19.5625rem !important;
    position: relative !important;
    transition: all .5s ease;
}

.image {
    height: 20rem;
    width: 15rem;
}

nav .image-gallery-thumbnail {
    width: 50px !important;
    margin: 0 2rem 0 2rem;
}

img .image-gallery-image {
    max-height: 15rem;
}

.grid-item {
    width: 100% !important;
}