.card {
    cursor: pointer;
    display: block !important;
    height: 100% !important;
    max-width: 19.5625rem !important;
    position: relative !important;
    transition: all .5s ease;
}

.image {
    height: 20rem;
    width: 15rem;
}