$color_1: Grey;
$color_2: Black;
$font-family_1: 'Roboto',
sans-serif;
$background-color_1: #900C3F;
$background-color_2: #fdf;
$background-color_3: White;
$outline-color_1: #fdf;

.listing-section {
    width: 100%;
    float: left;
    padding: 1%;
    border-bottom: 0.01em solid #dddbdb;
}

.product-list {
    float: left;
    width: 23%;
    border-radius: 2%;
    margin: 1%;
}

.image-box {
    width: 100%;
    overflow: hidden;
    border-radius: 2% 2% 0 0;
    display: flex;
    justify-content: center;
}

.text-box {
    width: 100%;
    float: left;
    border: 0.01em solid #dddbdb;
    border-radius: 0 0 2% 2%;

    input {
        width: 15%;
        clear: none;
    }

    button {
        margin-top: 1em;
    }
}

.item {
    clear: left;
    width: 100%;
    text-align: center;
}

.price {
    clear: left;
    width: 100%;
    text-align: center;
    color: $color_1;
}

.description {
    float: left;
    clear: left;
    width: 100%;
    font-family: $font-family_1;
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    margin: 0.2em auto;
}

.add-to-cart-button {
    float: left;
    clear: left;
    width: 100%;
    font-family: $font-family_1;
    font-weight: 500;
    text-align: center;
    margin: 0.2em auto;
    padding: 2%;
    background-color: $background-color_1;
    border: none;
    border-radius: 2%;
    color: white;
    font-size: 1.125rem;
    height: 3rem;
}

input {
    float: left;
    clear: left;
    width: 100%;
    font-family: $font-family_1;
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    margin: 0.2em auto;

    &:focus {
        outline-color: $outline-color_1;
    }
}