.product-detail {
    display: flex;
    padding: 60px;
}

.left-layout {
    width: 60%;
    margin-right: 50px;
}

.right-layout {
    width: 40%
}

.nav-style {
    color: red;
}

.social-links{
    display: flex;
    align-items: center;
}
.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

.social-link {
    margin-right: 10px;
}

.most-viewed {
    padding: 50px 100px;
}