.footer{
    background-color: #3b3b3b;
    color: white;
    &__innerContainer{
        max-width: 1440px;
        margin: 0 auto;
        width: 100%;
        padding: 70px 30px;
        @media (max-width: 767px) {
            padding: 70px 20px;
        }
        &__anchor{
            color: white;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}