.header{
    background-color: white;
    justify-content: space-between;
    box-shadow: 0 0 10px #00000030;
    &__links{
        color: #333;
        padding: 20px 0;
        border-bottom: 2px solid transparent;
        &:hover{
            border-bottom: 2px solid #d31433;
            transition: all 400ms linear;
            color: #d31433;
        }
    }
}